# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List common used libraries by Data Scientists
- Give examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Scikit-Learn
5. Seaborn

Data Science Tools |
--- |
Jupyter Notebooks |
RStudio |
Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
(3*4)+5

# This a simple arithmetic expression to multiply then add integers.

17

In [37]:
200/60

3.3333333333333335

## Author 
Blanca